* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to right bottom, #bc4e9c, #f80759);
    background-size: cover;
    font-family: sans-serif;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.player {
    display: inline-block;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    transition: all 0.4s;
    /* justify-content: center; */
    gap: 3rem;
    width: 30%;
    font-size: 2rem;
    padding: 3rem;
}

.player--active {
    box-shadow: 0.2rem 0.2rem 28px rgba(0, 0, 0, 0.623);
    background-color: rgba(255, 255, 255, 0.719);
}

.score {
    font-size: 4.5rem;
    color: #e6004c;
}

.current {
    /* justify-self: center; */
    margin-top: auto;
    text-align: center;
    color: #fff;
    padding: 1.3rem 3.5rem;
    background-color: #ff0054;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.current-score {
    margin-top: 1rem;
    font-size: 3.5rem;
}

.player--0 {
    border-radius: 8px 0 0 8px;
}

.player--1 {
    border-radius: 0 8px 8px 0;
}

.midpart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 3rem;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.198);
}

.dice {
    height: 10rem;
    width: 10rem;
    top: 24rem;
    margin-top: auto;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 500px;
    font-size: 1.5rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.602);
    cursor: pointer;
    transition: all 0.2s;
}

.btn:active {
    transform: translateY(3%);
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.602);
}

.btn--roll {
    margin-top: auto;
}

.hidden {
    display: none;
}

.player--winner {
    background-color: #2f2f2f;
    /* background-color: rgb(73, 255, 103); */
}

.player--winner .name {
    color: #e6004c;
}

.player--winner .name:after {
    content: " Wins";
}



/* Responsive from start */

@media (max-width : 22.5em){
    html{
        font-size: 50%;
    }
    .player{
        height: 40%;
        font-size: 1.5rem;
        padding: 3rem 2rem;
    }
    .midpart{
        height: 40%;
    }
    .current{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
    .current-score {
        font-size: 3rem;
    }
    .btn{
        padding: 0.8rem 1.5rem;
        font-size: 1.3rem;
    }
    .dice{
        height: 9rem;
        width: 9rem;
    }
}